/* Version 1.0
CSS lovingly and personally hand-coded by Robin Louw :) */

html,
body {
  font-family: "Bio-Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.07rem;
  margin: 0;
  background-color: #111;
  color: rgba(255, 255, 255, 0.9);
}

a {
  text-decoration: none;
  font-size: inherit;
  color: #0089FF;
}

.container {
  max-width: 906px;
  margin: 0.5rem auto;
  padding: 1rem;
}

.logo img {
  width: 2rem;
  display: block;
  margin: auto;
  padding: 1rem;
  opacity: .2;
}

h1 {
  font-family: "Bebas-Kai", helvetica, arial, sans-serif;
}

h1.heading {
  font-size: 3rem;
  font-weight: normal;
  padding: 1rem 0;
  line-height: 3rem;
  margin: 1rem auto;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
}

.introduction p {
  padding: 0;
  margin: 0.5rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

.description {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
}

.description ul {
  list-style: square;
  margin: 0 1.5rem;
  padding: 1.5rem 0;
  flex-grow: 1;
}

.description li {
  font-size: 1.5rem;
  line-height: 2rem;
}

footer {
  background-color: #111;
  padding: 0;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.copyright {
  flex-basis: 20rem;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

p.disclaimer {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width:834px) {

  html,
  body {
    font-size: 14px;
    font-weight: 300;
  }

  .logo img {
    padding: 2rem;
  }

  .introduction,
  .description {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
  }
}

@media only screen and (max-width:520px) {

  html,
  body {
    font-size: 12px;
  }

  footer .container {
    flex-wrap: wrap;
  }

  .copyright {
    flex: auto;
  }
}

@media only screen and (max-width:375px) {

  html,
  body {
    font-size: 10px;
  }

}